@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

  --color-main: #fab12f;
  --color-sub: #ffcc00;
  --color-grey-main: #a09cab;
  --color-grey-pale: #f9fafb;
}

body {
  margin: 0;
  width: 100vw;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: var(--font-sans);
}

:root {
  color: #000;
  font-synthesis: none;
  text-rendering: opximizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}

.label-bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
}

.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

.body-bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
}

.body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
}

.caption {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
}

button {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 800;
  font-family: inherit;
  cursor: pointer;
}
button:disabled {
  background-color: #e2dfdb;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
